@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: #f1f1f1;
}

.login-container {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.login-box {
    width: 100%;
    max-width: 400px;

    background: white;
    padding: 40px;

    border-radius: 12px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

/* Logo */

.logo {
    text-align: center;
    margin-bottom: 25px;
}

.logo h1 {
    font-size: 30px;
}

/* Título */

h2 {
    text-align: center;
    margin-bottom: 8px;
}

.subtitulo {
    text-align: center;
    color: #777;
    margin-bottom: 25px;
}

/* Campos */

.campo {
    display: flex;
    flex-direction: column;

    margin-bottom: 18px;
}

.campo label {
    margin-bottom: 6px;
    font-weight: bold;
}

.campo input {
    width: 100%;

    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 6px;

    font-size: 16px;
}

.campo input:focus {
    outline: none;
    border-color: #333;
}

/* Checkbox e link */

.opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;

    font-size: 14px;
}

.opcoes label {
    display: flex;
    align-items: center;
    gap: 2px;
}

.opcoes a {
    text-decoration: none;
    
}

/* Botão */

button {
    width: 100%;

    padding: 13px;

    border: none;
    border-radius: 6px;

    background: #222;
    color: white;

    font-size: 16px;
    cursor: pointer;

    transition: transform 0.2s;
}

button:hover {
    transform: scale(0.97);
}


