@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100vw;
    height: 100vh;
   
    
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    padding: 10px;
    position: sticky;
    
}

menu nav ul{
    display: flex;
    gap: 10px;
}


menu nav ul li a{
    text-decoration: none;
    color: white;
}



section.banner{
    
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    
}

article.texto{
    grid-row: 1 / -2;
    margin: 50px;
   text-align: justify;
    
}

div.imagem {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: black;
    background-image: url(../imagens/42784265206450215.jpg);
    background-size: cover;
    box-sizing: border-box;
    border-radius: 20px;
    border-left: 15px solid black;
    transition:  transform .5s ease-in-out;

}

div.imagem:hover{
    transform: scale(0.9);

}

div.imagem img{
    width: 200px;
    height: 200px;
}

li{
    list-style: none;
}

footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100vw;
    
}

footer div.contato ul li a{
    text-decoration: none;
    color: white;
}




