@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

:root{
    --cor01: #A67C63;
    --cor02: #BFA18F;
    --cor03: #F2EEEB;
    --cor04: #592A19;
    --cor05: #0D0D0D;
    --font01: "Poppins", sans-serif;
    --font02: "Cormorant Garamond", serif;
    --font03: "Playfair Display", serif;
}

header{
    width: 100%;
    height: 80px;
    z-index: 1000;
}

div.interface{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
}

 a{
    text-decoration: none;
    color: var(--cor05);
    font-family: var(--font01);
    font-size: 1.2rem;
    margin-left: 1rem;

    transition: all 0.3s ease-in-out;
}

 a:hover{
    color: var(--cor01);
}

/* estilo header */

header div.interface{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    
} 

header .interface .no-image{
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
    width: 70%;
}


header .interface .no-image h1{
    font-family: var(--font01);
   
}

header .interface .no-image-menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header .interface .no-image-menu span{
    color: var(--cor04);
}

header .interface .no-image-menu nav ul li{
    display: inline-block;
}

header .interface .no-image-txt{
    margin-top: 30px;
}

header .interface .no-image-txt h1{
    font-family: var(--font01);
    font-size: 4.5rem;
    line-height: 60px;
    margin-top: 15px;
}

header .interface .no-image-txt h4{
    color: var(--cor01);
}

header .interface .no-image-txt h4 span{
    border-bottom: 1px solid var(--cor01);
}

header .interface .no-image-txt h1 span{
    display: block;
    color: var(--cor01);
}

header .interface .no-image-txt .no-image-txt-drop{
    width: 45%;
    text-align: center;
    margin-top: 30px;
    border-left: 1px solid var(--cor01);
    border-right: 1px solid var(--cor01);
   margin-bottom: 20px;
}

header .interface .no-image-txt button{
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: center;
    background-color: transparent;
    color: var(--cor01);
    font-family: var(--font01);
    font-size: 1.2rem;
    padding: 10px 20px;
    border: 2px solid var(--cor01);
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

header .interface .no-image-txt button a:hover{
    color: var(--cor03);
}

header .interface .no-image-txt button:hover{
    background-color: var(--cor01);
    color: var(--cor03);
}

header .interface .header-icone{
    
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

header .interface .header-icone a{
    margin: 10px 0;
}

header .interface .header-icone img{
   margin-right: 30px;
   margin-bottom: -4px;
   padding: 0 20px;
}

/* estilo main */

main{
    position: relative;
    margin-top: 400px;
}

section.fogo{
    background-color: var(--cor03);
    padding: 20px 0;
}

section.fogo .fogo-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section.fogo div{
    border-right: 1px solid var(--cor01);
   
}

section.fogo div#fogo1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

section.fogo div#fogo1 h4{
    font-size: .7em;
    font-weight: 300;
    font-family: var(--font01);
    padding-right: 20px;
}

section.fogo div#fogo1 h4 span{
    font-weight: 600;
    display: block;
}

section.fogo div#fogo2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

section.fogo div#fogo2 h4{
    font-size: .7em;
    font-weight: 300;
    font-family: var(--font01);
    padding-right: 20px;
}

section.fogo div#fogo2 h4 span{
    font-weight: 600;
    display: block;
}

section.fogo div#fogo3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

section.fogo div#fogo3 h4{
    font-size: .7em;
    font-weight: 300;
    font-family: var(--font01);
    padding-right: 20px;
}

section.fogo div#fogo3 h4 span{
    font-weight: 600;
    display: block;
}

section.fogo div#fogo4{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

section.fogo div#fogo4 h4{
    font-size: .7em;
    font-weight: 300;
    font-family: var(--font01);
    padding-right: 20px;
}

section.fogo div#fogo4 h4 span{
    font-weight: 600;
    display: block;
}

/* estitlo produtos */

section.produtos .interface div.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.produtos .container .container1{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 260px;
    background-color: var(--cor03);
}

.produtos .container1 .container-imagem{
    border-bottom: 1px solid var(--cor01);
}

.produtos .container .container1 .container-txt{
    font-family: var(--font02);
    padding-top: 10px;
}

.produtos .container .container1 .container-txt p{
    font-size: 1.5em;
    text-align: center;
}

.produtos .container .container2{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 260px;
    background-color: var(--cor03);
}

.produtos .container2 .container2-imagem{
    border-bottom: 1px solid var(--cor01);
}

.produtos .container .container2 .container2-txt{
    font-family: var(--font02);
    padding-top: 10px;
}

.produtos .container .container2 .container2-txt p{
    font-size: 1.5em;
    text-align: center;
}

.produtos .container .container3{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 260px;
    background-color: var(--cor03);
}

.produtos .container3 .container3-imagem{
    border-bottom: 1px solid var(--cor01);
}

.produtos .container .container3 .container3-txt{
    font-family: var(--font02);
    padding-top: 10px;
}

.produtos .container .container3 .container3-txt p{
    font-size: 1.5em;
    text-align: center;
}
.produtos .container .container4{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 280px;
    width: 260px;
    background-color: var(--cor03);
}

.produtos .container4 .container4-imagem{
    border-bottom: 1px solid var(--cor01);
}

.produtos .container .container4 .container4-txt{
    font-family: var(--font02);
    padding-top: 10px;
}

.produtos .container .container4 .container4-txt p{
    font-size: 1.5em;
    text-align: center;
}

/* estilo anuncio */

section.anuncio .interface{
    padding: 40px 0;
}

section.anuncio .interface div.container-anuncio{
    display: flex;
    justify-content: center;
    align-items: center;
}


.interface .container-anuncio div.anuncio1{
    background-color: #0d0d0dc9;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-family: var(--font01);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 30px 90px;
}
.interface .container-anuncio div.anuncio2{
    background-color: var(--cor02);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-family: var(--font01);
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 30px 90px;
}

/* estilo linha */

section.linha .interface div.linha-container{
    font-family: var(--font01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 10px 0;
}