@charset "UTf-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

aside.lateral{
    width: 150px;
    height: 100vh;
    background-color: silver;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

aside.lateral nav{
     display: flex;
    flex-flow: column nowrap;
    gap: 40px;
}

aside.lateral a {
    font-size: 1.5em;
    color: white;
    transition: color .5s;
}

aside.lateral a:hover{
    color: blue;
}

main{
    margin-left: 170px;
    
}

section.hero{
    height: 400px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-image: url(../imagens/Baixar\ design\ de\ plano\ de\ fundo\ para\ power\ point\ adequado\ para\ fundo\ de\ ppt\ panda\ gratuitamente.jpeg);
    background-position: center right;
    background-size: cover;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
}

section.hero div.texto{
    
    flex: 0 0 200px;
}

section.hero div.texto p{
    margin-top: 20px;
}



h1#servicos{
    text-align: center;
}

section.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

section.cards div{
    background-color: black;
    color: silver;
    width: 300px;
    height: 200px;
}

section.cards div.card01{
    background-image: url(../imagens/mecânica.jpeg);
    background-position: center center;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.cards div h1{
    opacity: 0;
    transition: opacity .5s;
    transition: transform 0.1s;
}

section.cards div h1:hover{
    opacity: 1;
    transform: scale(0.9);

}

section.cards div{
    transition: transform 0.1s ease;
}

section.cards div:hover{
    transform: scale(0.9);

}

section.cards div.card02{
    background-image: url(../imagens/Electricidade.jpeg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.cards div.card03{
    background-image: url(../imagens/Redes.jpeg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

section.moda div#texto{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
    gap: 5px;
}

div#texto div.texto01{
    flex: 0 0 250px;
    
}

div.texto01 h3{
    color: #F23A29;
}

div#texto div.texto02{
    flex-basis: 300px;
    flex-shrink: 1;

}

div.botao{
    display: flex;
    flex-flow: row nowrap;
}

div.texto02 p.transparente{
    color: rgba(128, 128, 128, 0.493);
}

button{
    width: 150px;
    height: 30px;
    cursor: pointer;
    background-color: #F2522E;
    color: white;
}


section.moda article{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

article div{
    width: 200px;
    height: 100px;
}

article div.foto01 img{
    border-radius: 20px;
}

article div.foto02 img{
    border-radius: 20px;
}

article div.foto03 img{
    border-radius: 20px;
}


