@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

main{
    background-image: url(../imagens/947726315347408380.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff3a;
    max-height: 300px;
    width: 600px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px black;
    padding: 50px;
    transition: 0.3s;
    
}


div.container:hover{
    background-color: #1C2B59;
    transform: scale(1.0);
}
div.formulario{
    margin-top: 10px;
}

div.formulario p{
    margin-bottom: 15px;
    font-weight: bold;
}

input[type=email]{
    margin-bottom: 5px;
}

input[type=email]:focus{
    background-color: #9298A6;
}

input[type=password]:focus{
    background-color: #9298A6;
}

button{
    margin-top: 20px;
    background-color: #405173;
    width: 100%;
    padding: 5px;
    transition: .5s;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
}

button a{
    text-decoration: none;
    color: white;
}





