@charset "UTF-8";



    /* HEADER */
    header {
        min-height: 125px;
        padding: 15px;
    }

    /* MENU */
    header div.container {
        align-items: center;
    }

    div.container nav {
        gap: 10px;
    }

    div.container nav a {
        font-size: 12px;
    }


    /* PARTE PRINCIPAL */
    header div.container02 {
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;
    }

    div.container02 div.right {
        margin-top: 0;
    }

    div.container02 div.right p {
        font-size: 15px;
    }


    /* TÍTULO */
    div.container02 div.left h1 {
        font-size: 50px;
        line-height: 0.9;
    }


    /* SERVIÇOS */
    div.container03 {
        display: grid;
        grid-template-columns: 1fr 1fr;

        height: auto;

        gap: 20px;

        padding: 10px 0;
    }


    div.container03 div {
        text-align: left !important;
    }


    /* PARTE PRETA */
    .parte-preta {
        height: 100px;
    }
